<h1><%= @merchant.name %> Discounts</h1>
<div id="discounts">
    <% @merchant.discounts.each do |discount| %>
        <div class="discount">
            <p>Percent Discount: <%= discount.percent %>%</p>
            <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
            <p><%= link_to "View Discount #{discount.id} Info", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %></p>
        </div>
    <% end %>
</div>